@font-face {
  font-family: 'League Gothic';
  src: url('http://www.j1c.us/_themes/mckinley/css/LeagueGothic-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/LeagueGothic-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/LeagueGothic-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/LeagueGothic-Regular.svg#32708577450339e41be87b9892799777') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cardo';
  src: url('http://www.j1c.us/_themes/mckinley/css/Cardo104s.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Cardo104s.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Cardo104s.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Cardo104s.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Cardo104s.svg#ca898a635a8375daa7bc3c1ed216ba43') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cardo Bold';
  src: url('http://www.j1c.us/_themes/mckinley/css/Cardob101.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Cardob101.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Cardob101.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Cardob101.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Cardob101.svg#38d5834d66303b025aeaef435ae9fbd4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Cardo Italic';
  src: url('http://www.j1c.us/_themes/mckinley/css/Cardoi99.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Cardoi99.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Cardoi99.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Cardoi99.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Cardoi99.svg#6a4e8fec9a0820a065a508b3f446ce8d') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}


@font-face {
  font-family: 'TextMeOne-Regular';
  src: url('http://www.j1c.us/_themes/mckinley/css/TextMeOne-Regular.eot');
  src: url('http://www.j1c.us/_themes/mckinley/css/TextMeOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://www.j1c.us/_themes/mckinley/css/TextMeOne-Regular.woff') format('woff'),
       url('http://www.j1c.us/_themes/mckinley/css/TextMeOne-Regular.ttf') format('truetype'),
       url('http://www.j1c.us/_themes/mckinley/css/TextMeOne-Regular.svg#TextMeOne-Regular') format('svg');
}

@font-face {
  font-family: 'Lato';
  src: url('http://www.j1c.us/_themes/mckinley/css/Lato-Bol.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Lato-Bol.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Lato-Bol.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Lato-Bol.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Lato-Bol.svg#eea591db52cf6ebc8992abb7621b9256') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Bold.svg#72800b665ba60a9a58674e2a6befde3a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Amble';
  src: url('http://www.j1c.us/_themes/mckinley/css/Amble-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Amble-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Amble-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Amble-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Amble-Regular.svg#676ca6a22e6a22ae4be73fff69ca2ccf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Lato Light';
  src: url('http://www.j1c.us/_themes/mckinley/css/Lato-Lig.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Lato-Lig.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Lato-Lig.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Lato-Lig.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Lato-Lig.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Aller Display';
  src: url('http://www.j1c.us/_themes/mckinley/css/AllerDisplay.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/AllerDisplay.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/AllerDisplay.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/AllerDisplay.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/AllerDisplay.svg#16761f830ebd34691d6784351d95d657') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Regular.svg#0bf9bf9589928b88616aa22aeb5ac722') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Amble';
  src: url('http://www.j1c.us/_themes/mckinley/css/Amble-Bold.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Amble-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Amble-Bold.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Amble-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Amble-Bold.svg#3c9c13c5577c48522a5f10f8fdca5d03') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Liberation Sans';
  src: url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/LiberationSans-Bold.svg#6076089016c04c42101dcb450d28d0fb') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Noticia Text';
  src: url('http://www.j1c.us/_themes/mckinley/css/NoticiaText-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/NoticiaText-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/NoticiaText-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/NoticiaText-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/NoticiaText-Regular.svg#002c1e8c976ab883afeaab056853aac8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Aller';
  src: url('http://www.j1c.us/_themes/mckinley/css/Aller_Rg.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Aller_Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Aller_Rg.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Aller_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Aller_Rg.svg#f15a8bc315d132553b25930dab95faa8') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Scada';
  src: url('http://www.j1c.us/_themes/mckinley/css/Scada-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Scada-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Scada-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Scada-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Scada-Regular.svg#c994030927da14b8758b38054f12f71a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Aller Light';
  src: url('http://www.j1c.us/_themes/mckinley/css/Aller_Lt.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Aller_Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Aller_Lt.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Aller_Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Aller_Lt.svg#7a2ef6f2ac068f2e003413b224ba591a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Light.svg#09be4bfe8975a657af6444a6f1d73848') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Open Sans';
  src: url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/OpenSans-Regular.svg#dc56f0938c09c27a4156bb0f8f5176a2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Nadia Serif';
  src: url('http://www.j1c.us/_themes/mckinley/css/nadia_serif.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/nadia_serif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/nadia_serif.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/nadia_serif.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/nadia_serif.svg#f2b7dd55ce9aa1c9a65f70f13b465c1a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Cambo';
  src: url('http://www.j1c.us/_themes/mckinley/css/Cambo-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Cambo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Cambo-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Cambo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Cambo-Regular.svg#41d79f6e729271015e50b939359ece64') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Song Light';
  src: url('http://www.j1c.us/_themes/mckinley/css/AdobeSongStd-Light.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/AdobeSongStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/AdobeSongStd-Light.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/AdobeSongStd-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/AdobeSongStd-Light.svg#b767142a53e374598ef973d14345d42b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Arvo';
  src: url('http://www.j1c.us/_themes/mckinley/css/Arvo-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://www.j1c.us/_themes/mckinley/css/Arvo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('http://www.j1c.us/_themes/mckinley/css/Arvo-Regular.woff') format('woff'), /* Modern Browsers */
       url('http://www.j1c.us/_themes/mckinley/css/Arvo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('http://www.j1c.us/_themes/mckinley/css/Arvo-Regular.svg#791db79240aa4bf477bca43b22760b8e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


.block.related-entries ul {
	display:block;
	margin:0 auto;
	width:100%;
	text-align:center;
}

.block.related-entries li {
	display:inline;
	margin:5px;
	font-family: "Helvetica Neue", sans-serif;
	color: #fff;
}

a#causes, a#effects {
	color: #fff;
	margin:0;
	padding:0;
}

a#causes:hover, a#effects:hover {
	color: #e95f1f;
}


body {
	font: 100%/1.5 sans-serif;
	color: #333333;
	/*border-top: 3px solid #333333; */
	margin: 0;
	padding:0;
	background-color: transparent !important;
}

a:hover { 
	color: #34a8c2;
	background-color: #f4f4f4;
    transition: opacity 0.2s .2s ease;
    -webkit-transition: .1s all;   
    -webkit-transition-delay: .1s; 
    -moz-transition: .1s all;   
    -moz-transition-delay: .1s; 
    -ms-transition: .1s all;   
    -ms-transition-delay: .1s; 
    -o-transition: .1s all;   
    -o-transition-delay: .1s; 
    transition: .1s all;   
    transition-delay: .1s; 
	 }

#fnref a {
	border-bottom: none;
}
.pagination {
font-family: Lato, sans-serif;
	font-size: 1.8em;
	text-align:center;
	padding:5px;
	color: #0588BC;
	text-transform: uppercase;
	margin:5px;
	position:relative;
	float:left;
	margin-top: -50px;
}

.pagination a {
	color: #929a9d;
	border: 2px solid #DDDDDD;
	padding: 5px 7px 5px 7px;
	margin-right: 10px;
	font-weight:300;
	position: relative;
}

.pagination a:hover {
	border-bottom: none;
	border: 2px solid #34a8c2;
	padding: 2px 7px 2px 5px;
	color: #fff;
	background-color: #34a8c2;
	transition:0.5s linear;
}
/* tip: how to display the e's in effects backwards - JAC 01-04-2014 */
.mirror {
    display:inline-block; 
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform:matrix(-1, 0, 0, 1, 0, 0);
    color: rgba(0,0,0,0.5);
    margin-left:-1px;
   
    /*vertical-align:1%;*/
}

a { color: #000000; text-decoration:none; font-weight: 700;}

.row {
	background-color: #F9F9F9;
}

#listed {
	font-family: "Scada";
	font-style: italic;
	font-size: .7em;
}

#archived {
	padding: 5px;
	margin: 5px;
}


div .footnotes p {
	font-size: .9em;
	color: #696969;
	font-family: "Courier New", monospace;
	max-width: 650px;
}
div #twitter {
	margin-top:15px;
	text-align:left;
	font-size:1.4em;
	background-color: #ccebf1;
	padding: 20px 0 20px 0;
	width: auto;
	font-weight: 700;
	color: black;
	border-top: 4px solid #a2a2a2;
	padding-left:15px;
	padding-right:10px;
}


div .footnotes {
	margin-top: 60px;
}

.footnotes ol {
	font-family: "Courier New", monospace;
	display: block;
	list-style-position: outside;
	color: #34a7c1;
	padding-left:30px;
	list-style-type: decimal;
	margin-left:20px;
}




.banner { display: block; width: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

#nofooter {
	display:none;
}

#circular { /* tip: for the circular profile images */
display: block;
  width: 300px;
  height: 300px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
}

/* tip: ensures no breaks in lines for code examples */
.nobr  { white-space:nowrap; }

html {
	margin: 0 auto;
    max-width: 100%;
    color: #4a4a4a;
}

div .block {
	text-align: left;
	/*background-color:#F9F9F9;*/
	position: relative;
	display:block;
}


div #copyrighter {
	font-size: 1rem;
	text-align: center;
}

#iphone-block {display:none;}

img {
  -webkit-user-select: none; /*for iphone users no-save haha */
  pointer-events:none;
  max-width:1000px;
  width:100%;
  padding-bottom: 0;
  margin:0 auto;
}

p img {
	  max-width:100%;
	    width: 100%;
  margin: 0 auto;
  padding-bottom:0;
  margin-bottom: 0;
  height: auto;
  pointer-events:none;
}

img a {
  pointer-events:auto;
}

.captioned {
	position: relative;
	margin:0 auto;
	padding:0 20px;
	max-width:1000px;
	font-family: "Cardo Italic",serif;
	font-style: italic;
	color: #fefefe;
}

ul {
	-webkit-margin-before: 0;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0;
}

p #coolfooter {
	text-align:center;
	font-size: 1em;
	line-height: 3em;
}

#coolfooter {
	margin-top: 20px;
}

.form-block {
	font-family: Arial, sans-serif;
	font-size: .8em;
	text-align:center;
	line-height: 2.5em;
}

p .form-block {
	text-align:center;
}

.form-block a {
	border: 2px solid #a1a1a1;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	padding: 2px 5px 2px 5px;
}

.form-block a:hover {
	border: 2px solid #a1a1a1;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	padding: 2px 5px 2px 5px;
}

.block.entry p a {
	color: #34a7c1;
	/*border-bottom: 1px dotted #A3C586;*/
}

.block.entry p a:hover {
	color: #959595;
	
}

.entry-meta {
	text-transform: uppercase;
	font-style: italic;
	line-height: 2em;
	font-family: "Bariol_Regular", Aller, sans-serif;
	font-weight: normal;
	color: #757575;
	-webkit-margin-before: 1em;
	padding-top:20px;
	padding-bottom: 10px;
}

.entry-meta a {
	/*border-bottom: 2px solid #ccc;*/
	padding: 3px 2px 3px 2px;
	white-space:nowrap;
	font-weight: normal;
	color: #ccc;
}

.entry-meta a:hover {
	border: 2px solid #4497a9;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	padding: 2px 7px 2px 5px;
	color: #4497a9;
}

/* page titles */

.block h1 a {
	color: #444444;
	font-weight: 300;
	}

.block h1 a:hover {
	background-color: inherit;
	border: none;
	color: #0589bd;
}

h2.entry-title {
	/*background-color: #f6f6f6;*/
	text-align: center;
	border-top: 3px solid #e2e2e2;
	color: #0588BC;
	font-size: 2.5em;
	font-family: 'Noticia Text';
	margin-top:auto;
	font-weight: 100;
	letter-spacing: .02em;
}
	 
	 h2.entry-title a {
	color: #444444;
	font-weight: 100;
	letter-spacing: .02em;
}

h2.entry-title a:hover {
	background-color: inherit;
	border: none;
	color: #34a7c1;
}



/* content of blog posts */
.block.entry {
	font-family: "Cardo", serif;
	margin-bottom: 30px;
	font-weight:normal;
	font-size: 1.1em;
	position: relative;
}
.block.entry p {
	font-family: "Cardo", serif;
	text-align:left;
	-webkit-margin-after: 1em;
	-webkit-margin-before: 1em;
	font-weight:normal;
	line-height: 1.5em;
	padding:.5em 0;	
}

.block.entry.entry-title a {
	font-family: 'Noticia Text';
}

.block.entry.entry-title a:hover {
	background-color: inherit;
	border: none;
}

.block p {
	font-family: "Cardo", serif;
	font-size:1.2em;
	font-weight:100;
	padding-bottom:5px;
}

.block p a, .block.entry p a {
	white-space:nowrap;
	color: #34a7c1;
	/*border-bottom: 2px solid #34a8c2;*/
}

.block p a:hover, .block.entry p a:hover {
	border-bottom: none;
	}
	
sup a {
	color: #34a7c1;
	font-family: "Arial";
	border-bottom: none;
	font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
    position: relative;
    top: 5px;
}

sup a:hover {
	border-bottom: none;
}



#footer {
	text-align:center;
	line-height: 1.1;
	/*border-top: 7px solid #cccccc;*/
}



/* top display nav li styling */
.naver {
	display: inline-block;
	width:auto;
	padding:0;
}
 
.naver a {
	font-family: "Liberation Sans", Trebuchet, sans-serif;
	padding: 2px 8px 2px 8px;
	/*border-bottom:3px solid #0588BC; */
	text-transform: uppercase;
	color: #512713;
	font-weight: 100;
	font-size: .8em;
	padding-top:10px;
	padding-bottom:10px;
	width: auto;
	line-height: 3em;
}

li.naver a {
	margin: 3px;
}

.naver a:active {
	border: 4px solid #898989;
	padding: 2px 5px 2px 5px;
	background-color: gold;
	color: white;
}

/* nav bar for menu items */
#nav { display: block;
	padding: 0;
	margin: 0;
	padding-bottom: 20px;
}

#navertwo { display:inline;
}

#navtwo {
	display:block;
	background-color:#b3b3b3;
	margin: auto 0;
	padding: inherit;
	width: 100%;
}

#nav a:hover { 
    /*padding: 2px 5px 2px 5px;*/
	color: snow; 
    background-color: gold;
    transition: opacity 0.2s .5s ease;
    -webkit-transition: .1s all;   
    -webkit-transition-delay: .1s; 
    -moz-transition: .1s all;   
    -moz-transition-delay: .1s; 
    -ms-transition: .1s all;   
    -ms-transition-delay: .1s; 
    -o-transition: .1s all;   
    -o-transition-delay: .1s; 
    transition: .3s all;   
    transition-delay: .1s; 
}

li .current {
	/*border: 4px solid #898989;*/
	padding: 2px 5px 2px 5px;
	background-color: #f2f2f2;
	color: #0b0b0b; 
    background-color: gold;
    transition: opacity 0.2s .5s ease;
    -webkit-transition: .1s all;   
    -webkit-transition-delay: .1s; 
    -moz-transition: .1s all;   
    -moz-transition-delay: .1s; 
    -ms-transition: .1s all;   
    -ms-transition-delay: .1s; 
    -o-transition: .1s all;   
    -o-transition-delay: .1s; 
    transition: .1s all;   
    transition-delay: .1s; 
}

li .current a {
	padding: 2px 5px 2px 5px;
	background-color: gold;
	color: #0b0b0b;
	border:none;
}

.span2 {
    clear:both;
	display: inline-block;
	margin: auto 0;
	width: 100%;
	}

/*@import url('normalize.css'); */



  body.extraWide {font-size:85%;}
  body.wide {font-size:80%;}

  body.narrow {font-size:70%;}
  body.extraNarrow {font-size:60%;}
  

h1, h2, h3 { text-transform: uppercase; }
	h1 a {
		text-decoration: none;
	}
h2 { font-size: 2em; }
h3 { 
	font-family:"Open Sans";
	text-transform: none;
	font-style: italic;
	font-size: 1.8em;
	-webkit-margin-after: 0;
	color: #a6a6a6;
	font-weight:normal;
	}
p, li { font-size: 1.8em; }
pre { font-size: 1rem; }
li li { font-size: 100%; }

.container {
	margin: 0 auto;
	padding: 0;
	/*background-color:#F9F9F9;*/
	max-width: 100%;
}

/* tip: how to get the color for the main header area */
.backgroundheader {
	width:100%;
	background:#512713;
	overflow: hidden;
	height: 250px;
	margin:auto;
	padding:0;
}
.blurbs {
	max-width:900px;
	margin:0 auto;
	position: relative;
}
/* tip: main header area text from theme-partial */
.begin {
	/*top:-220px;*/
	position:relative;
}

.maincontent {
	/*top: -180px;*/
	position: relative;
	max-width:1000px;
	margin:0 auto;
	padding:0;
}

#header {
	padding: 3em;
	border-bottom: 1px solid #cccccc;
	/*background-color:#FF6637;*/
}

#mee {
	background: transparent;
	font-family: "Scada", sans-serif;
    font-weight:normal;
	color: #fff;
	letter-spacing: normal;
	max-width: 800px;
	margin:0 auto;
	border-radius: 2px;
}

#mee a {
	color: #512713;
	padding:0 1px;
	border-bottom: 2px solid mediumturquoise;
}

#mee a:hover {
	color: seashell;
	background-color: mediumturquoise;
	padding:0 1px;
}

#title {
	float: left;
	width: 32em;
}
	#title h1 { 
		margin: 0;
		font-size: 1.4em;
	}

#menu {
	width: 22.8571em;
	font-size: 1em;
	color: #666666;
	text-align: center;
	text-transform: uppercase;
}

	
#work img {
	margin: 1em 2em;
	width: 170px;
	vertical-align: middle;
}
	
#montage img {
	float: left;
	width: 160px;
}

.listing article header { 
	margin: 0;
	text-align: left;
}
.listing article h1 { font-size: 2em; }
		
#twitter:hover { color: #00aced; }
#tumblr:hover { color: #2C4762; }
#github:hover { color: #99A7AF; }
#dribbble:hover { color: #ea4c89; }


	#footer #statamic-mark {
		font-weight: bold;
		color: inherit;
		text-decoration: none;
	}

@media screen and (max-width: 480px) {
	#container { width: 32em; }
	#title, #menu { float: none; text-align: center; }
	#menu { margin-top: 1em; }
	section h1,
	article h1 { font-size: 2.8em; 
	text-align: center;
	color: black;
	font-family: Aller, sans-serif; }
}
		
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
ul, ol {
list-style-type:none;}

 #archived a:hover {
	 background-color:inherit;
 }

.block.related-entries {
	font-family: "Scada";
	font-style: italic;
}

.block.related-entries p {
	padding-left: 10px;
}
.block.related-entries a {
	font-weight:normal; 
	color:#fff;
	white-space: normal;
}

.entry-date {
	color: #ccc;
	font-family: "Notica Text";
}

p.entry-meta a {
	/*border-bottom: 2px solid #ccc;*/
}

.footnotes ol li p a {
	border-bottom: none;
}

h1.site-name {
	text-align:left;
	font-family: "League Gothic", serif; /*font-family: "Lucida Console", Monaco, monospace; updated 1-30-2014*/
	font-size: 8rem;
	font-size: -moz-calc(100vw / 12);
	text-transform: none;
	font-weight: bold;
	margin: 0;
	color:red;
	padding:0;
	/*text-shadow: 5px 5px 2px rgba(0,0,0,0.5);*/
	padding-left:5px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	background-image: none;
	background-color: rgba(0,0,0,0.20);
}

.site-name a {
	font-weight: bold;
	margin:0;
	padding:0;
	color: #fff;
}

h1.site-name a:after {
	
}

.site-name a:hover {
	border: transparent;
	color: #34a7c1;
	background-color:transparent;
}
.thisnav {
	text-align:center;
	padding:0px;
	margin:100px auto;
	border-top: 1px solid #d4d4d4;
	max-width: 1000px;
}

#navul {
	text-align: center;
	display:inline-block;
	margin-left:-20px;
}

/* the greeting I am James Campbell section */
#navp {
	text-align: left;
	padding: 0 20px 10px 40px;
	margin:20px;
	color: #522713;
	font-size: 1.3em;
}

#homefoot {
	padding-top: 60px;
}

a.abouta {
	color: #34a7c1;
	border-bottom: 1px dotted #A3C586;
}

a.abouta:hover {
	color: #0588BC;
}

code {
	font-family: "Courier New", monospace;
	font-size: 1.2em;
	background-color:#ccebf1;
	word-wrap:break-word;
}
pre {
background-color:#ccebf1;
word-wrap:break-word;
padding:10px;
max-width: 750px;
margin: 0 auto;
}

ol {
	list-style-type: decimal;
	color: #9b0707;
	list-style-position: outside;
}

ol li {
	color: #444444;
	font-size: 1em;
	margin-bottom: 10px;
}
strong {
	font-weight: bold;
}

blockquote {
  margin: 0 18px 18px 18px;
  color:#666;
  padding-left:10px;
border-left:4px solid #eee;
  quotes: "\201C""\201D""\2018""\2019";
  max-width:700px;
  margin:0 auto;
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
	content: close-quote;
	font-size:4em;
	color: #ccc;
	line-height: 0.1em;
	vertical-align: -0.4em;
}

.block blockquote p {
  display: inline;
  font-family: "Courier New";
  font-size: 1.2em;
  max-width:700px;
}

.iam {

	margin-top: 50px;
   	    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;

}

.fish {
    display: block;
    max-width:100px;
    margin-left:0;
    margin-right:0;
    -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  height:20px;
  opacity: 0; 
}

.fish img {
	max-width: 100px;
	position:relative;
	top:-100px;
}

.iam:hover .fish
{
    display: block;
    opacity: 1;
}

a#causes {
	color:rgba(0, 0, 0, 0.5);
   padding:0;
   margin:0;
   height:auto;
   color: red;
}

a#causes:hover {
	color: #34a7c1;
}

a#effects {
padding:0;
margin:0;
color:rgba(0, 0, 0, 0.5);

}

a#effects:hover {
	color: #34a7c1;
}



.block.entry p {
	max-width:700px;
	margin: 0 auto;
	position:relative;
}

div.block.entry {
	position:relative;
	top:0;
}

/* all the following is for POST.HTML template items only */
.posttitle {
	font-family: "Liberation Sans";
	text-align: left;
	font-weight: 700;
	margin:0;
	padding:3px 5px 0 10px;
	/*border-left: 10px solid #fbe265; */
}
.posttitle a {
	font-family: "Liberation Sans"; /* arvo amble aller display aller light */
	font-size: 2em;
	font-weight: 700;
	letter-spacing: .05em;
	color: #fff;
	line-height: 1em;
}

.posttitle a:hover {
	background-color: transparent;
	border: 0;
	color: #34a7c1;
}

p.postdate {
	font-family: "Open Sans";
	font-size: 1.5em;
	text-align: left;
	font-weight: 300;
	font-style: normal;
	padding-left: 20px;
	line-height: .8rem;
}

p.postdate a {
	color: #fff;
	font-style: italic;
	padding: 2px;
}

p.postdate a:hover {
	background-color:transparent;
	color: #34a7c1;
}

#previously {
	/*order: 1px solid gray;*/
	text-align: center;
	padding: 5px 0;
	margin-bottom:30px;
	font-style: italic;
	margin-top: 100px;
	margin: 0 auto;
	font-size:2em;
}

#previously a {
	color: #30160b;
}

.entry-date a {
	color: #ccc;
	border-bottom:1px dotted #34a7c1;
}

.postbottom {
	padding: 20px 0;
	background-color: #c1f2fa;
	margin-bottom:-20px;
}

.postbottom a {
	color: #fff;
}

div.block.entry h2 {
	font-family: "Liberation Sans",sans-serif;
	max-width:750px;
	margin:20px auto;
	font-size: 2em;
}

div.block.entry h3 {
	font-family: "Liberation Sans",sans-serif;
	max-width:750px;
	margin:10px auto;
	font-size:1.5em;
}


.absolutehead {
	position:relative;
	height:100%;
	width:100%;
	margin:0 auto;
	top:0;
	left:0;
	/*border-bottom: 20px solid rgba(109,109,109,0.5);*/
}

.postfooter {
	top:30px;
	position:relative;
}


.posthead {
display: block;
position:relative;
margin:0 auto;
max-width: 1000px;
color:#fff;
top: 0;
}

.block.entry ol {
	max-width: 650px;
	margin:20px auto;
}

.singlepostmain {
	max-width: 100%;
	padding:20px 0 0 0;
	background: transparent;
	display:block;
	position:relative;
	top:0;
}

#circularpost {
  	display: block;
  	width: 150px;
  	height: 150px;
  	margin: 75px auto;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center center;
  	-webkit-border-radius: 99em;
  	-moz-border-radius: 99em;
  	border-radius: 99em;
}

.block.related-entries {
	position: relative;
	margin:150px auto;
	max-width:1000px;
}

.block.related-entries h3 {
	margin:0 auto;
	color: indianred;
	margin-bottom: 50px;
	font-style: italic;
	font-family: "Cardo", serif;
}



div img {
	margin: 40px auto;
	width: 100%;
	display:block;
	border-radius: 5px;
	
}


#home-button {
	max-width: 50px;
	position:absolute;
	top:50px;
	left:30px;
	z-index:1;
}

a img#home-button {
	pointer-events: all;
}

.spacer {
	height: 50%;
	margin: 0 auto;
	position: relative;
}
.mainspacer {
	height: 86%;
	margin: 0 auto;
	position: relative;
	
}

.headnamer {
	height: 50%;
	position: relative;
	top: -35%;
}

/* main background div for causes and effects title */

.mainnamer {
	background-color: rgba(182,182,182,0.38);
	padding:0;
	margin:0;
	position:absolute; bottom:0; /* makes the causes and effects stick to the bottom */
	height:10%;
	width:100%;
}

article {
	display:block;
}

/* thumbnails for the home latest posts */
.home__stories {
    max-width: 114rem;
    margin: 0 auto;
    padding-bottom: 60px;
    overflow: hidden;
    position:relative;
}

.home__a {
	color: #fff;
}

.home__stories .home__single {
    background-color: #4a4a4a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    border-bottom: 3px solid white;
    text-align: center;
    /*border-radius: 40px;*/
}

.home__stories .home__single:first-child, .home__stories .home__single:nth-child(4), .home__stories .home__single:nth-child(7) {
    width: 31%;
    height: 15rem;
    float: left;
    margin: 10px;
    position: relative;
}

.home__stories .home__single:nth-child(2), .home__stories .home__single:nth-child(5), .home__stories .home__single:nth-child(8) {
    float: left;
    position:relative;
    width: 31%;
    height: 15rem;
    margin: 10px;
}

.home__stories .home__single:nth-child(3), .home__stories .home__single:nth-child(6), .home__stories .home__single:nth-child(9)  {
	 float: left;
    position:relative;
    width: 31%;
    height: 15rem;
    margin:10px;
}



.home__stories .home__single a {
    color: #fff;
    text-decoration: none;
    display: table;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background-color: transparent;
}

.home__stories .home__single a:hover {
	box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    color: #fff;
}
/*.home__stories .home__single>a * {
    display: block;
    margin: 0;
}*/

.home__link {
    display: table-cell;
    vertical-align: bottom;
    text-align:left;
    color: #fff;
    padding-left: 5px;
}

/* this converts the floats to straight down 100% blocks down the mobile device */
@media (max-width: 480px){.home__stories .home__single {
        float: none !important;
        width: 100% !important;
        border: 4px solid white;
        border-width: 0 0 4px !important
    }
}




#clearit {
	border: none;
	background: transparent;
}

.darker {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000000;
    opacity: 0.3;
}

.home__a:hover {
	opacity: .8;
}

/* social section for social icons */

section#socialite {
  padding: 60px 0 85px 0;
  background-color: #efefef;
}
section#intro .column {
  max-width: 750px;
  margin: 0 auto;
}

section#intro p {
  font-size: 15px;
  line-height: 1;
  color: #999;
  padding-bottom: 20px;
}

ul.social-new {
  list-style: none;
  text-align: center;
}
ul.social-new li {
  padding: 5px;
  display: inline-block;
  margin: 10px;
}
ul.social-new li a {
  display: block;
  font-size: 3.5rem;
  text-align: center;
  padding: 10px;
  border: none;
}

ul.social-new li a:hover {
  text-indent: 0; 
    transition: .2s all;   
    transition-delay: .1s;
    background-color: snow; 
}

ul.social-new li a.fa-twitter-square  {
  background-size: 30px;
  color: #28aae1 !important;
  border-radius: 8px;
  border: 3px solid snow;
}

ul.social-new li a.fa-twitter-square:hover {
	border: 3px solid #28aae1;
	border-radius: 8px;
}
 
ul.social-new li a.fa-instagram {
  background-size: 30px;
  color: #32618a !important;
  border-radius: 8px;
  border: 3px solid snow;
}

ul.social-new li a.fa-instagram:hover {
	border: 3px solid #32618a;
	border-radius: 8px;
}

ul.social-new li a.mail {
  background-size: 28px;
  color: #dd4951 !important;
  border-radius: 8px;
  border: 3px solid snow;
}

ul.social-new li a.mail:hover {
	border: 3px solid #dd4951;
	border-radius: 8px;
}

ul.social-new li a.fa-rss-square {
  background-size: 35px;
  color: #d4181c !important;
   border-radius: 8px;
  border: 3px solid snow;
}

ul.social-new li a.fa-rss-square:hover {
	border: 3px solid #d4181c;
	border-radius: 8px;
}

ul.social-new li a.fa-tumblr-square {
  background-size: 30px;
  color: #357DAC !important; /* close to tumblr blue but lighter */
   border-radius: 8px;
  border: 3px solid snow;
}

ul.social-new li a.fa-tumblr-square:hover {
	border: 3px solid #357DAC;
	border-radius: 8px;
}

#centered-list {
	max-width: 750px;
	margin: 0 auto;
}

h1.maintitles a {
	font-size: xx-large;
}

.postwords {
	text-align: center;
	color: snow;
	padding: 25px;
	font-size: 1rem;
	letter-spacing: .2em;
	font-family: "Scada", sans-serif;
	margin: 0 auto;
	background-color:#080808;
	padding:5px;
}
/* back to main */
.backwardo {
	position: absolute;
	bottom: 5%;
	left:10%;
}

.backwardo a {
	border: 6px solid rgba(255,255,255,0.40);
	padding: 6px 10px;
	font-family: Arial, sans-serif;
	font-weight:100;
	font-size: 1em;
	color: rgba(255,255,255,0.48);
	border-radius: 16px;
	background-color: transparent;
	letter-spacing: .07em;
	transition: 0.4s linear;
}

.backwardo a:hover {
border: 2px solid rgba(255,255,255,0.8);
	color: #fff;
	background-color:transparent;
	transition: 0.4s linear;
}


h3.thumbtitle {
	font-family: "Liberation Sans", sans-serif; /* Lato is nice as well */
	font-size: 1.3rem;
	font-style: normal;
	color: #fff;
	font-weight: bold;
	letter-spacing: .15rem;
	text-transform: uppercase;
	margin:10px;
	padding:5px;
}

h3.thumbpost {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	color: #fff;
	line-height: .5rem;
	letter-spacing: .2rem;
	font-style: normal;
	padding: 10px;
	background-color: rgba(58,58,58,0.6);
}

h3.counts {
	font-family: "Song Light";
	color: #fff;
	font-size: 1rem;
	letter-spacing: .15rem;
	text-align: center;
	background-color: rgba(58,58,58,0.6);
}

.block.related-entries h3.thumbpost {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	color: #fff;
	letter-spacing: normal;
	font-style: normal;
	text-align: left;
	padding: 10px;
	margin:20px;
	position:absolute;
	bottom:0;
	background-color: rgba(58,58,58,0.6);
}

.block.related-entries h3.counts {
	font-family: "Song Light";
	color: #fff;
	font-size: 1rem;
	letter-spacing: .15rem;
	text-align: left;
	padding: 10px;
	margin:20px;
	position: relative;
	float: right;
	vertical-align:bottom;
	background-color: rgba(58,58,58,0.6);
}

.block.related-entries h3.thumbtitle {
	font-family: "Liberation Sans", sans-serif; /* Lato is nice as well */
	font-size: 1.3rem;
	font-style: normal;
	color: #fff;
	font-weight: bold;
	letter-spacing: .15rem;
	text-transform: uppercase;
	text-align: left;
	background-color: rgba(58,58,58,0.6);
	padding: 10px;
	margin:20px;
	display:block;
}

/*magic for background image */
.mastheader {
	width:100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	display:block;
	margin: 0 auto;
	height:100%;
}

@media only screen 
and (min-device-width : 768px) /* targeting iPad 2 */
and (max-device-width : 1024px) {
	.block.entry, .block.entry p {            /* paragraph text */
		font-size: 1.5em;
	}
	
	.postfooter {   /* footer info bio and 'next post' */
		font-size: 1.5em;
	}
	
	#nav {          /* nav bar */
		font-size: 1rem;
	}
	
	.block.related-entries h3 { /* related entries title */
		font-size: 1.7em;
	}
	
	.postdate {
		font-size: 1.4em;
	}
	
	.posttitle {
		font-size: 1.2em;
	}
	.fa-bolt {
		font-size: 2em;
	}
	.postbottom {
		font-size: 1.5em;
	}
}

/* lets people know they we know that they have an ipad */
#ipad-block {
   position: relative;
    margin: 0 auto;
    text-align:center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
    font-family: "Liberation Sans", sans-serif;
    background-color: #efefef;
    padding: 5px 0;
  }

div.pcaption {
	font-family: "Liberation Sans", sans-serif;
	position: relative;
	width: auto;
	margin: 0 auto;
	max-width: 1000px;
	margin-top:-65px;
	color: #fff;
	background-color: rgba(141,141,141,0.24);
	font-size: 1rem;
	margin-bottom: 40px;
}
div.pcaption:before {
	content: "\00a0 ";
}

.home__stories .home__single:first-child:last-child {
	float:none;
	margin:0 auto;
	display:block;
	position: relative;
	width: 50%;
	height: 300px;
	background-color:transparent;
}

.home__stories .home__single:first-child:last-child a {
	background-color: transparent;
}

.post-end {
	color: #3c3838;
	word-spacing: 10px;
	padding: 10px;
	height: 200px;
	letter-spacing: 2rem;
	text-align: center;
}

ol {
	margin-top: 20px;
}
/* where latest content begins on home page */
.latest-title {
	position: relative;
	background-color:rgba(198,198,198,0.43);
	margin:0 auto;
	margin-bottom:20px;
	margin-left: 5%;
	width:95%;
	text-align:left;
	font-weight: normal;
}

.latest-title a {
	padding: 15px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-style: normal;
	color: #31180c;
	text-transform: uppercase;
	font-size:4rem;
	/*text-shadow: 2px 2px 2px rgba(81,81,81,0.5);*/
	margin-top:-30px;
	text-align:left;
	color: #fff;
	font-weight: 400;
}

.latest-title a:hover {
	background-color: transparent;
}

a span.sitenamespan {
	padding:0;
	margin:0;
	line-height:.5em;
	position:relative;;
	color:rgba(230,230,230,0.75);
	vertical-align:top;
	transition: 0.4s linear;
}

a span.sitenamespan.mirror {
	color: rgba(52,168,194,0.43);
}

a span.fa.fa-level-down {
	vertical-align: top;
	font-size: .7em;
	color: rgba(169,17,17,0.59);
	padding-left:10px;
}

a:hover span.fa.fa-level-down {
	vertical-align: top;
	font-size: .7em;
	color: rgba(169,17,17,1);
	padding-left:10px;
}

a span.fa.fa-caret-square-o-down {
	color: rgba(52,167,193,0.65);
	padding-left:10px;
	font-size: .5em;
	vertical-align: top;
	transition: 0.4s linear;
}

a:hover span.fa.fa-caret-square-o-down {
	vertical-align: top;
	color: gold;
	padding-left:10px;
	vertical-align: top;
	font-size: .6em;
	transition: 0.5s linear;
}

a span.fa.fa-caret-square-o-down.post {
	vertical-align: middle;
	color: rgba(52,167,193,0.65);
	padding-left:10px;
	font-size: 1.3em;
	transition: 0.4s linear;
}

a:hover span.fa.fa-caret-square-o-down.post {
	color: gold;
	padding-left:8px;
	font-size: 1.4em;
	transition: 0.4s linear;
}
/* begin reading button */
#beginreading {
	position:absolute;
	bottom:5%;
	margin:0 auto;
	right:10%;
}

#beginreading a {
	border: 6px solid rgba(255,255,255,0.40);
	padding: 6px 10px;
	font-family: Arial, sans-serif;
	font-weight:100;
	font-size: 1em;
	color: rgba(255,255,255,0.48);
	border-radius: 16px;
	background-color: transparent;
	letter-spacing: .07em;
	transition: 0.4s linear;
}

#beginreading a:hover {
border: 2px solid rgba(255,255,255,0.8);
	color: #fff;
	background-color:transparent;
	transition: 0.4s linear;
}

a i.fa.fa-dot-circle-o {
	color: rgba(52,167,193,0.65);
	padding-left:10px;
	font-size: 1em;
	transition: 0.4s linear;
}

a:hover i.fa.fa-dot-circle-o {
	color: gold;
	padding-left:8px;
	font-size: 1.2em;
	transition: 0.4s linear;
}

a span.sitenamespan.mirror {
	 /*-vendor-animation-duration: 3s;
    -vendor-animation-delay: 2s; */
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    -o-animation-iteration-count: 2;
     animation-iteration-count: 2;
     transition: 0.4s linear;
     -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
     -o-animation-duration: 1s;
     animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

a:hover span.sitenamespan {
	color: #fff;
	transition: 0.4s linear;
}

a:hover span.sitenamespan.mirror {
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    -animation-iteration-count: 1;
    -webkit-animation: initial;
    transition: 0.4s linear;
    color: gold;
}


body .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; padding: 0 15px 0 10px; margin: 0; text-align: right; }
body .one .bsa_it_ad img { width:auto; height:auto;position: relative; margin:0 auto; }
body .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; width:auto; height:auto; }
body .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: none; margin: 0 0 5px; }
body .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
body .one .bsa_it_ad .bsa_it_t { padding: 6px 0; }
body .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; font-family: 'Open Sans', sans-serif; }
body .one .bsa_it_p { display: none; }
body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0; text-align: right; }

#yoggrtad {
	max-width: 200px;
	position: relative;
	right:20px;
	padding: 10px;
	margin:40px 15px;
	display: inline;
	float:right;
	height:200px;
	z-index:1;
}

hr {
	margin: 0 auto;
	max-width: 1000px;
	border:2px solid #d8d8d8;
}

