<section id="socialite">

						<!--<p><bitcoin>bitcoin: <a title='send me some bitcoins :)' href="bitcoin:1HbxLVJDbutmmmppMRQmXPnA1WueN9PgTj?label=jamesweb">1HbxLVJDbutmmmppMRQmXPnA1WueN9PgTj</a></bitcoin> ( <a style='border-bottom:0;font-size:.9em;color:#2ca6d7;' title='what is bitcoin?'href='http://bitcoin.org/en/'>?</a> )</p>-->


			<ul class="social-new">
				{{ if twitter_on }}
				<li>
					<a class="fa fa-circle-thin fa-twitter" href="https://twitter.com/intent/user?screen_name={{ twitter_name }}">
					</a>
				</li>
				{{ endif }}
				{{ if tumblr_on }}
				<li>
					<a class="fa fa-circle-thin fa-tumblr" href="{{ tumblr_link }}"> <!-- set this in the theme.yaml in the mckinley folder -->
					</a>
				</li>
				{{ endif }}
				{{ if instagram_on }}
				<li>
					<a class="fa fa-instagram" href="{{ instagram_link }}">
					</a>
				</li>
				{{ endif }}
				{{ if feed_on }}
				<li>
					<a class="fa fa-rss" href="{{ feed_link }}">
					</a>
				</li>
				{{ endif }}
			</ul>
			<div class='iam'>
				{{ if copyright_on }}
			<div id="copyrighter" >{{ copyright_info }} <a href="{{ copyright details link }}"> details here</a>.</div>
				{{ endif }}
			<!--
			<p><iam title='...so that they can stop paying people to catch fish for them'>I teach people how to fish.
			<div class='fish'><img src='/assets/img/blog/fish.png'>
			</iam></p>-->
			</div>
<!-- Piwik -->
<!--<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.jamescampbell.us"]);
  _paq.push(["setDomains", ["*.jamescampbell.us"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//jamescampbell.us/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//jamescampbell.us/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>-->
<!-- End Piwik Code -->





</section>
