<section id="socialite"><!-- socialiter partial to show social links bar at bottom of screen, don't worry, you can turn them all off in theme yaml -->
	<ul class="social-new">
		{{ if twitter_on }}
		<li>
			<a class="fa fa-circle-thin fa-twitter" href="https://twitter.com/intent/user?screen_name={{ twitter_name }}">
			</a>
		</li>
		{{ endif }}
		{{ if tumblr_on }}
		<li>
			<a class="fa fa-circle-thin fa-tumblr" href="{{ tumblr_link }}"> <!-- set this in the theme.yaml in the mckinley folder -->
			</a>
		</li>
		{{ endif }}
		{{ if instagram_on }}
		<li>
			<a class="fa fa-instagram" href="{{ instagram_link }}">
			</a>
		</li>
		{{ endif }}
		{{ if feed_on }}
		<li>
			<a class="fa fa-rss" href="{{ feed_link }}">
			</a>
		</li>
		{{ endif }}
	</ul>
	<div class='iam'>
		{{ if copyright_on }}
	<div id="copyrighter" >{{ copyright_info }} <a href="{{ copyright details link }}"> details here</a>.</div>
		{{ endif }}
	</div>
</section><!-- end socialiter partial -->
