
<div class="sidebar-item">
	<div id="coolfooter">	
		<!--<form {{ if title == "Subscription" }} id="nofooter" {{ endif }} class="form-block" style="padding:5px;text-align:center;" action="http://uri.lv/e/mailverify?feed_id=jamescampbell&amp;loc=en" method="post" target="popupwindow" onsubmit="window.open('http://uri.lv/e/mailverify?feed_id=jamescampbell&amp;loc=en', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true" id="yui_3_7_3_1_1368917958948_32323"><p id="yui_3_7_3_1_1368917958948_32322" ><label for="tlemail">Like what you found? Please <a class="nobr" href="http://www.jamescampbell.us/subscribe">subscribe to the newsletter</a> for the latest straight to your inbox </label></p></form>
	</div>
	<div id="copyrighter" >All Rights Reserved James Campbell. All content subject to Copyright. Details <a href="http://www.jamescampbell.us/copyright-info">here</a>.--></div>


</div>
