<!DOCTYPE HTML>
<!-- entire site coded by hand by web developer James Campbell, ask him about it on twitter @jamescampbell -->
<!-- for explanations / style guide of how he did it, please see the readme file at https://github.com/jamesacampbell/mckinley
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					\			\\\\\\\\\\\\\\\\\\\\\\\\\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\\\\\\\\\\\\			\\\\\\\\\\\\\\\\\\\\\\\\\
	https://jamescampbell.US https://jamescampbell.US https://jamescampbell.US
	WEB DESIGN / BRANDING / PHOTOGRAPHY / VIDEO /
	HELPING CREATIVES, BRANDS, AND PEOPLE DO GREAT THINGS
-->
<html>
<head>
  {{ if woton }}
  <meta name="wot-verification" content="{{ wot_code }}"/>
  {{ endif }}
  <meta charset="utf-8">
  {{ if meta_desc_on }}
  <meta name="description" content="{{ meta_desc }}">
  {{ endif }}
  {{ if meta_auth_on }}
  <meta name="author" content="{{ meta_auth }}">
  {{ endif }}
  {{ if meta_keywords_on }}
  <meta name="keywords" content="{{ meta_keywords }}">
  {{ endif }}
  <title>{{ _site_name }} | {{ title }}</title>
<!-- check useragent to see if it is iPhone -->
<?php
  $browser = (bool) strpos($_SERVER['HTTP_USER_AGENT'],"iPhone");
    if ($browser == true){
    $browser = 'iphone';
  }  ;
  $browsered = (bool) strpos($_SERVER['HTTP_USER_AGENT'],"iPad");
  if ($browsered == true){
  $browsered = 'ipad';
  } ;
   $browsera = (bool) strpos($_SERVER['HTTP_USER_AGENT'],"Android");
  if ($browsera == true){
  $browsera = 'android';
  }
?>
<?php if($browser == 'iphone'|| $browser == 'android'){ ?> <!-- if browser is iphone then display different css spreadsheet -->
  <meta name="format-detection" content="telephone=no"> <!-- turn off the telephone auto-fix -->
 <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" >
 <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" >
  <link rel="stylesheet" type="text/css" href="/_themes/mckinley/css/mobile.css" media="all">
  <meta name="apple-touch-fullscreen" content="yes" >
    <meta name="apple-mobile-web-app-capable" content="yes" > <!-- you can comment this out to test to make sure it works-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" >
<?php }else{ ?><!-- if not iphone / android then display regular css file -->
  <link rel="stylesheet" href="{{ if force_mobile }} {{ mobile_css_path }} {{ else }} {{ theme:css }} {{ endif }}" /><!--{{ theme:css }} config in theme.yaml-->
<?php } ?>
 <link rel="stylesheet" href="/_themes/mckinley/css/animate.css" />
<link rel="apple-touch-icon-precomposed" href="{{ theme:img src="apple-touch-icon.png" }}" />
  <link rel="icon" type="image/png" href="{{ theme:img src="256.png" }}" />
    {{ if google_ver_on }}
<meta name="google-site-verification" content="{{ google_ver }}" >
	{{ endif }}
	{{ if microsoft_ver_on }}
<meta name="msvalidate.01" content="{{ microsoft_ver }}" >
	{{ endif }}
<link rel="stylesheet" href="/_themes/font-awesome/css/font-awesome.min.css">
</head>
<body>
  <div id='top' class="container"></div>
     <!-- add content here -->
        {{ layout_content }}
  {{ if include_maps }}
      {{ location:start_maps }}
  {{ endif }}

<section id="footer">
{{ theme:partial src="socialiter" }}
</section>
<!-- checks if browser is mobile using php -->
<?php if($browser == 'iphone'){ ?>
<div id="iphone-block">hey there, nice iphone! </div>
<?php } ?>
<?php if($browsered == 'ipad'){ ?>
<div id="ipad-block">hey there, nice ipad! </div>
<?php } ?>
<?php if($browsera == 'android'){ ?>
<div id="ipad-block">hey there, nice android! </div>
<?php } ?>
<script type="text/javascript" src="/_themes/mckinley/js/mckinley.js"></script>
</body>
</html>