<!DOCTYPE HTML>
<!-- entire site coded by hand by web developer James Campbell, ask him about it on twitter @jamescampbell -->
<!-- for explanations / style guide of how he did it, please see http://www.jamescampbell.us/colophon




	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					\			\\\\\\\\\\\\\\\\\\\\\\\\\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
					\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\			\			\
		\\\\\\\\\\\\\			\\\\\\\\\\\\\\\\\\\\\\\\\


	jamescampbell.US jamescampbell.US jamescampbell.US

	WEB DESIGN / BRANDING / PHOTOGRAPHY / VIDEO /

	HELPING CREATIVES, BRANDS, AND PEOPLE DO GREAT THINGS









































































-->
<html>
<head>
  <meta name="wot-verification" content="3e07f7bccd6342712770"/>
  <meta charset="utf-8">
  <meta name="description" content="The gallery and writings of James Campbell, who is based in Washington DC and writes code, designs, and takes pictures. He enjoys helping creatives, executives, and entrepreneurs learn how to fish instead of continuing to allow them to pay people to catch it for them.">
  <meta name="author" content="James Campbell">
  <meta name="keywords" content="photography, washington dc, dc, apple, mobile photography, stock photos, photographs, coding, html, css, statamic">
  <title>{{ _site_name }} | {{ title }}</title>
  <!--<script src="../mint/?js" type="text/javascript"></script><!-- great analytics at havamint dot com -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script><!-- jquery is fast, don't believe the javascript purists -->
 <link rel="stylesheet" type="text/css" href="/_themes/mckinley/css/font.css" media="all"><!--css for all fonts-->
<!-- check useragent to see if it is iPhone -->
<?php
  $browser = (bool) strpos($_SERVER['HTTP_USER_AGENT'],"iPhone");
    if ($browser == true){
    $browser = 'iphone';
  }  ;

  $browsered = (bool) strpos($_SERVER['HTTP_USER_AGENT'],"iPad");
  if ($browsered == true){
  $browsered = 'ipad';
  } ;

   $browsera = (bool) strpos($_SERVER['HTTP_USER_AGENT'],"Android");
  if ($browsera == true){
  $browsera = 'android';
  }

?>
<?php if($browser == 'iphone'|| $browser == 'android'){ ?> <!-- if browser is iphone then display different css spreadsheet -->
  <meta name="format-detection" content="telephone=no">
 <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" >
 <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" >
  <link rel="stylesheet" type="text/css" href="/_themes/mckinley/css/mobile.css" media="all">
  <meta name="apple-touch-fullscreen" content="yes" >
    <meta name="apple-mobile-web-app-capable" content="yes" > <!-- you can comment this out to test to make sure it works-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" >

<?php }else{ ?><!-- if not iphone then display regular css file -->
  <link rel="stylesheet" href="{{ theme:css }}" />
<?php } ?>
 <link rel="stylesheet" href="/_themes/mckinley/css/animate.css" />
<link rel="apple-touch-icon-precomposed" href="{{ theme:img src="apple-touch-icon.png" }}" />
  <link rel="icon" type="image/png" href="{{ theme:img src="256.png" }}" />
<meta name="google-site-verification" content="tdzqRL5tKgp7oWXNi3GzKNuVHj5-rS6_gaag0arzcwI" >
<meta name="msvalidate.01" content="8E7C7C1943433D39684C94A57200398E" >
<link rel="stylesheet" href="/_themes/font-awesome/css/font-awesome.min.css">
<!-- Piwik -->
<!--
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://jamescampbell.us/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();

</script> -->
<!--<noscript><p><img src="http://jamescampbell.us/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>-->
<!-- End Piwik Code -->
</head>
<body>


  <div class="container">
     <!-- add content here -->
        {{ layout_content }}

  {{ if include_maps }}
      {{ location:start_maps }}
  {{ endif }}
<section id="footer">

{{ theme:partial src="socialiter" }}

</section>
<!-- checks if browser is mobile using php -->
<?php if($browser == 'iphone'){ ?>
<div id="iphone-block">hey there, nice iphone! </div>
<?php } ?>

<?php if($browsered == 'ipad'){ ?>
<div id="ipad-block">hey there, nice ipad! </div>
<?php } ?>

<?php if($browsera == 'android'){ ?>
<div id="ipad-block">hey there, nice android! </div>
<?php } ?>

</body>
</html>