
	<link rel="stylesheet" href="/css/styles.css">
	
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<script src="//use.typekit.net/yda7muu.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>


	<div id="header">
		<h1>JAMES CAMPBELL</h1>
		<h2>PHOTOGRAPHER AND MEDIA CONSULTANT</h2>
	</div>
	
	<section id="intro">
		<div class="column">
			
			<p>My site is currently down for updates. Please get in touch by <a href="mailto:james@jamescampbell.us" id='link-focus'>email</a> or <a href="http://www.twitter.com/jamescampbell" id='link-focus'>twitter</a> if you need me. Patience is a virtue.</p>
			
			<ul class="social">
				<li class="link-dribbble">
					<a href="http://dribbble.com/jamescampbell">
						<img src="/images/icon_dribbble_over.svg" width="43" height="43">
						Dribbble
					</a>
				</li>
				<li class="link-twitter">
					<a href="https://twitter.com/intent/user?screen_name=jamescampbell">
						<img src="/images/icon_twitter_over.svg" width="43" height="43">
						Twitter
					</a>
				</li>
				<li class="link-instagram">
					<a href="http://instagram.com/jamesanthonycampbell">
						<img src="/images/icon_instagram_over.svg" width="43" height="43">
						Instagram
					</a>
				</li>
				<li class="link-mail">
					<a href="mailto:james@jamescampbell.us">
						<img src="/images/icon_mail_over.svg" width="43" height="43">
						Email
					</a>
				</li>
                
                <!-- no blog yet 
				<li class="link-blog">
					<a href="">
						<img src="/images/icon_blog_over.svg" width="43" height="43">
						Blog
					</a>
				</li>
                -->
			</ul>
			
		</div>
	</section>

<!--	
	<section id="sebonic" class="clients">
	
		<img src="/images/sebonic.png" alt="Sebonic Financial" width="575" height="400" class="hero">
		
		<div class="column">
		
			<h2>Sebonic Financial</h2>
			<h3>UI & Web Design</h3>
			
			<p>Worked on the web application UI and marketing website for Sebonic Financial for <a href="http://focuslabllc.com" target+"_blank">Focus Lab</a>. <a href="http://dribbble.com/BillSKenney">@Bill Kenney</a> came up with some exceptional branding and color palettes to play with on this project. The use of a flat design and illustrations rather then photos were used to show a unique playful feel for a home lending company. Check out the rest of the project on dribbble.</p>
			<p class="dribbble"><a href="http://dribbble.com/charliewaite/projects/122561--Financial"><img src="/images/icon_dribbble_sebonic.svg" class="dribbble">View this project on dribbble <img src="/images/icon_arrow_sebonic.svg" class="arrow"></a></p>
			
		</div>
	</section>

	
	<section id="share-practice" class="clients">
	
		<img src="/images/share_practice.png" alt="SharePractice" width="399" height="359" class="hero">
		
		<div class="column">
		
			<h2>SharePractice</h2>
			<h3>UI Design</h3>
			
			<p>I worked on the new iPhone App for SharePractice with Focus Lab. As a result of some amazing branding by <a href="http://dribbble.com/matt_yow">@Matt Yow</a> and <a href="http://dribbble.com/BillSKenney">@Bill Kenney</a> we came up with a beautiful flat UI design. Check out the rest of the project on dribbble.</p>
			<p class="dribbble"><a href="http://dribbble.com/charliewaite/projects/105051-SharePractice"><img src="/images/icon_dribbble_sharepractice.svg" class="dribbble">View this project on dribbble <img src="/images/icon_arrow_sharepractice.svg" class="arrow"></a></p>
			
		</div>
	</section>
	
	<section id="ted-todd" class="clients">
		
		<img src="/images/ted_todd.png" alt="Ted Todd Insurance" width="623" height="303" class="hero">
		
		<div class="column">
		
			<h2>Ted Todd Insurance</h2>
			<h3>Web Design / Responsive Design</h3>
			
			<p>Led the Web Design direction for the new Ted Todd Insurance Website with Focus Lab. Once <a href="http://dribbble.com/matt_yow">@Matt Yow</a> and <a href="http://dribbble.com/BillSKenney">@Bill Kenney</a> dropped some branding magic we were able to make a very professional yet playful informational respsponive site.</p>
			
			<p class="dribbble"><a href="http://dribbble.com/charliewaite/projects/86201-Ted-Todd"><img src="/images/icon_dribbble_tedtodd.svg" class="dribbble">View this project on dribbble <img src="/images/icon_arrow_tedtodd.svg" class="arrow"></a></p>
		
		</div>
	</section>
	
	<section id="productions-4120" class="clients">
		
		<img src="images/4120.png" alt="4120 Productions" width="623" height="303" class="hero">
		
		<div class="column">
		
			<h2>4120 Productions</h2>
			<h3>Web Design / Responsive Design / Branding Collateral</h3>
			
			<p>Got to work on the 4120 Productions website as well as some branding collateral. Worked with <a href="http://dribbble.com/colorkitecraig">@Craig Stubberfield</a> and <a href="http://colorkite" target="_blank">Colorkite</a> to make a new portfolio site for an awesome video production company in San diego. Check out the live site <a href="http://www.fortyonetwenty.com/" target="_blank">here</a>.</p>
			
			<p class="dribbble"><a href="http://dribbble.com/charliewaite/projects/87992-4120-Productions"><img src="/images/icon_dribbble_4120.svg" class="dribbble">View this project on dribbble <img src="/images/icon_arrow_4120.svg" class="arrow"></a></p>
		
		</div>
	</section>
    
    <section id="snappy" class="clients">
		
		<img src="images/snappy.png" alt="Snappy" width="450" height="358" class="hero">
		
		<div class="column">
		
			<h2>Snappy</h2>
			<h3>Web Design / UI Design / Branding</h3>
			
			<p>Working with the UserScape team was a dream. When you have a company that allows you to take some risks and explore your options, it really allows you to take a design to places it may not have wound up otherwise. Check out the in depth blog over at <a href="http://focuslabllc.com/blog/P3" target="_blank">Focus Lab</a>.</p>
			
			<p class="dribbble"><a href="http://dribbble.com/charliewaite/projects/64573-Snap-Reply"><img src="/images/icon_dribbble_snappy.svg" class="dribbble">View this project on dribbble <img src="/images/icon_arrow_snappy.svg" class="arrow"></a></p>
		
		</div>
	</section>
	
	<section id="contact">
		<h3>If you have an exciting project feel free to drop me a line.</h3>
		<a href="mailto:lifeofjim@gmail.com" class="btn"><img src="/images/icon_mail_white.svg">Email Me</a>
	</section>
	
	<footer id="footer">
    	<p>&copy; 2013 <a href="http://www.twitter.com/jamescampbell">James Campbell</a> Made in the USA.</p>
		
		<ul class="social">
			<li class="link-dribbble">
				<a href="http://dribbble.com/jamescampbell">
					<img src="/images/icon_dribbble_over.svg" width="43" height="43">
					Dribbble
				</a>
			</li>
			<li class="link-twitter">
				<a href="https://twitter.com/jamescampbell">
					<img src="/images/icon_twitter_over.svg" width="43" height="43">
					Twitter
				</a>
			</li>
			<li class="link-instagram">
				<a href="http://instagram.com/jamesanthonycampbell">
					<img src="/images/icon_instagram_over.svg" width="43" height="43">
					Instagram
				</a>
			</li>
			<li class="link-mail">
				<a href="mailto:lifeofjim@gmail.com">
					<img src="/images/icon_mail_over.svg" width="43" height="43">
					Email
				</a>
			</li>
            <!-- no blog yet 
			<li class="link-blog">
				<a href="">
					<img src="/images/icon_blog_over.svg" width="43" height="43">
					Blog
				</a>
			</li>
            -->
		</ul>
	</footer>



