<!DOCTYPE HTML>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

<link href="https://scrollassets.s3.amazonaws.com/assets/published_initializer-28969d1e3a2543c340bc1e2236e21fdc.css" media="screen" rel="stylesheet" type="text/css" />
<style>
body {
	width:auto;
	margin:0 auto;
}
html {
	width: auto;
	margin: 0 auto;
}
  #strip_86845{height:1450px;;position:relative;background-color:rgb(255, 255, 255);}
  #strip_86845 .frame {max-width:500px;margin:auto;position:relative;}
  #el_86845_0{margin-top:100px;outline:none;word-wrap:break-word;overflow:hidden;z-index:0;max-width:500px;}
  #el_86845_0 img {height:auto; width:80%;}
  #el_86845_1{top:870px;left:198px;position:absolute;outline:none;word-wrap:break-word;overflow:hidden;z-index:1;width:141px;height:141px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);}
  #el_86845_2{top:4269px;left:198px;position:absolute;outline:none;word-wrap:break-word;overflow:hidden;z-index:1;width:141px;height:141px;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);}
  #strip_86858{height:1900px;position:relative;background-color:#ffee54;background:url('https://d1r5nr1emc2xy5.cloudfront.net/pics/38024') 50% repeat;}
  #strip_86858 .frame {margin:auto;position:relative;width:950px;}
  #el_86858_0{top:-103px;left:353px;position:absolute;outline:none;overflow:hidden;font-size:72px;line-height:108px;letter-spacing:17px;padding-left:3px;padding-right:3px;color:#111;text-align:center;z-index:3;width:380px;font-family:"Quicksand";-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #el_86858_1{top:274px;left:21.5px;position:absolute;outline:none;word-wrap:break-word;overflow:hidden;font-size:4.2em;line-height:108px;letter-spacing:12px;padding-left:3px;padding-right:3px;color:#111;text-align:center;z-index:2;width:907px;font-family:"Quicksand";-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #el_86858_2{top:1530px;left:21px;position:absolute;outline:none;word-wrap:break-word;overflow:hidden;font-size:4.2em;line-height:90px;letter-spacing:12px;padding-left:3px;padding-right:3px;color:#111;text-align:center;z-index:1;width:907px;font-family:"Quicksand";-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #strip_86859{height:1900px;position:relative;background-color:#46b4e4;background:;}
  #strip_86859 .frame {margin:auto;position:relative;width:950px;}
  #strip_86860{height:1900px;position:relative;background:#ffffff;}
  #strip_86860 .frame {margin:auto;position:relative;width:950px;}
  #el_86860_0{font-family:Quicksand;line-height:50px;font-size:3.8em;top:75px;left:222px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:0;width:502px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #el_86860_1{font-family:Quicksand;line-height:50px;font-size:3.8em;top:75px;left:222px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:1;width:502px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #el_86860_2{font-family:Quicksand;line-height:50px;font-size:3.8em;top:75px;left:222px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:1;width:502px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #el_86860_3{font-family:Quicksand;line-height:50px;font-size:3.8em;top:75px;left:222px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:1;width:502px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #el_86860_4{font-family:Quicksand;line-height:50px;font-size:3.8em;top:75px;left:222px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:1;width:502px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);opacity:1;}
  #el_86860_5{font-family:Quicksand;line-height:50px;font-size:3.8em;top:75px;left:222px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:5;width:502px;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  .el_86860_6{font-family:"Quicksand";line-height:1em;font-size:3.8em;top:75px;position:relative;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0px;padding-left:3px;padding-right:3px;color:#424242;text-align:center;z-index:1;width:auto;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);}
  #ul_868 {font-family:"Quicksand";line-height:1em;font-size:1em;position:relative;padding-left:3px;width:auto;}
  #strip_86862{height:700px;position:relative;background:url('https://d1r5nr1emc2xy5.cloudfront.net/pics/38025') 50% repeat;overflow:hidden;}
  #strip_86862 .frame {margin:auto;position:relative;width:950px;}
  #el_86862_0{font-family:Quicksand;line-height:72px;font-size:48px;top:164px;left:5px;position:absolute;outline:none;word-wrap:break-word;overflow:hidden;letter-spacing:0;padding-left:3px;padding-right:3px;color:#111;text-align:center;z-index:0;width:auto;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-ms-transform:rotate(0deg);-o-transform:rotate(0deg);background-color:rgb(58, 233, 168);opacity:1;}
  
@media screen and (-webkit-device-pixel-ratio: 0.75) {
    body {font-size: 10.5px;}
}
@media screen and (-webkit-device-pixel-ratio: 1.0) {desktop browsers
    body {font-size: 14px;}
}
@media screen and (-webkit-device-pixel-ratio: 1.5) {e.g. Google Nexus S (Samsung Galaxy S)
    body {font-size: 16px;}
}
@media screen and (-webkit-device-pixel-ratio: 2.0) {e.g. iPad iPhone 5s
    body {font-size: 18px;}
    #el_86858_1 {font-size:80px;}
    .el_86860_6 {padding:20px;}
}
</style>
</head>
<body onresize = "updateHeight();" onload = "mobileFix();">
<div id='james_campbell_main' > <!-- onclick='javascript:pageScroll()' -->
<div  id="strip_86845">
<div class="frame"><a id='movedown'><img src="http://d1r5nr1emc2xy5.cloudfront.net/pics/38022" class="" id="el_86845_0"  src="http://d1r5nr1emc2xy5.cloudfront.net/pics/38022?h=500&w=500"></a>
</img>
</div></div>

<div  id="strip_86858" >
<div class="frame">
<div id="el_86858_0" >
hello ↴</div><div id="el_86858_1" >
welcome to<div class="ui-selectee">causes &amp; effects</div></div>
<div id="el_86858_2" >
<div class="ui-selectee">the main site of technologist, curator and freelance photographer </div><div class="ui-selectee">james campbell</div></div></div></div><div  id="strip_86859" >
<div class="frame"></div></div>
<div class="frame">
<div  id="strip_86860" >
<ul id="ul_868">
<li class="el_86860_6" ><a href="http://www.jamescampbell.us/blog">latest posts </a></li>

<li class="el_86860_6" ><a href="http://tumblr.jamescampbell.us" target="_blank">tumblr</a></li>

<li class="el_86860_6" ><a href="http://cargo.jamescampbell.us">cargo</a></li>

<li class="el_86860_6" ><a href="http://www.twitter.com/jamescampbell" target="_blank">twitter</a></li>

<li class="el_86860_6" ><a href="mailto:james@jamescampbell.us" target="_blank">contact</a></li>

<li class="el_86860_6" ><a href="http://www.jamescampbell.us/projects">projects</a></li>

<li class="el_86860_6" ><a href="http://jamescampbell.bigcartel.com" target="_blank">collect</a></li>
</ul>
</div>
</div>
<div  id="strip_86862" >
<div class="frame"><a href="http://jamescampbell.bigcartel.com/product/nothings-volume-1" target="_blank"><div id="el_86862_0" >
latest photo book:<div class="ui-selectee">nothings volume 1</div></div></a></div></div>
</div>
<script src="https://scrollassets.s3.amazonaws.com/assets/embedded_initializer-4b4bb4c4758ef31a566550674d97b297.js" type="text/javascript">
</script>
<!-- the magic that sets the heights perfectly for each scroll -->
	<script type="text/javascript">
document.getElementById('strip_86845').style.height = window.innerHeight+"px";
document.getElementById('strip_86858').style.height = window.innerHeight+"px";
document.getElementById('strip_86859').style.height = window.innerHeight+"px";
document.getElementById('strip_86860').style.height = window.innerHeight+"px";
document.getElementById('strip_86862').style.height = window.innerHeight+"px";

document.getElementById('el_86858_2').style.top = window.innerHeight+50+"px";

//document.getElementById('el_86860_0').style.top = window.innerHeight-650+"px";
//document.getElementById('el_86860_1').style.top = window.innerHeight-600+"px";
//document.getElementById('el_86860_2').style.top = window.innerHeight-550+"px";
//document.getElementById('el_86860_3').style.top = window.innerHeight-500+"px";
//document.getElementById('el_86860_4').style.top = window.innerHeight-450+"px";
//document.getElementById('el_86860_5').style.top = window.innerHeight-400+"px";
//document.getElementById('el_86860_6').style.top = window.innerHeight-700+"px";
//window.scrollBy(0,-9000);
	
	
function mobileFix() {
	var isMobileDevice = navigator.userAgent.match(/iPad|iPhone|iPod|android/i) != null 
    || screen.width <= 480;
    //alert(isMobileDevice);
    	 // horizontal and vertical scroll increments
    	//var mainheight = window.innerHeight / 19;
    	//var element = document.getElementById('strip_86845'),style = window.getComputedStyle(element),height = style.getPropertyValue('height');
    	var heighted = document.getElementById('strip_86858');
    	var hei = heighted.offsetHeight;
    	hei = parseInt(hei);
    	if (isMobileDevice == true) {
    	document.getElementById('ul_868').style.fontSize = 2+"em";
    	document.getElementsByName('el_86860_6').style.lineHeight = 2+"em";
    	document.getElementById('el_86858_1').style.fontSize = "20px";
    	document.getElementById('el_86858_1').style.width = "auto";

    	
}	;
}
function pageScroll() {
var isMobileDevice = navigator.userAgent.match(/iPad|iPhone|iPod|android/i) != null 
    || screen.width <= 480;
    //alert(isMobileDevice);
    	 // horizontal and vertical scroll increments
    	//var mainheight = window.innerHeight / 19;
    	//var element = document.getElementById('strip_86845'),style = window.getComputedStyle(element),height = style.getPropertyValue('height');
    	var heighted = document.getElementById('strip_86858');
    	var hei = heighted.offsetHeight;
    	hei = parseInt(hei);
    	//alert(hei);
    	
    	if (isMobileDevice == true) {
	    	hei = hei/11;
document.getElementById('el_86860_0').style.top = window.innerHeight-1100+"px";
document.getElementById('el_86860_1').style.top = window.innerHeight-950+"px";
document.getElementById('el_86860_2').style.top = window.innerHeight-800+"px";
document.getElementById('el_86860_3').style.top = window.innerHeight-650+"px";
document.getElementById('el_86860_4').style.top = window.innerHeight-500+"px";
document.getElementById('el_86860_5').style.top = window.innerHeight-350+"px";
document.getElementById('el_86860_6').style.top = window.innerHeight-1250+"px";
    	}
    	else if (isMobileDevice == false) {
    	hei = hei/12;
document.getElementById('el_86860_0').style.top = window.innerHeight-650+"px";
document.getElementById('el_86860_1').style.top = window.innerHeight-600+"px";
document.getElementById('el_86860_2').style.top = window.innerHeight-550+"px";
document.getElementById('el_86860_3').style.top = window.innerHeight-500+"px";
document.getElementById('el_86860_4').style.top = window.innerHeight-450+"px";
document.getElementById('el_86860_5').style.top = window.innerHeight-400+"px";
document.getElementById('el_86860_6').style.top = window.innerHeight-700+"px";}
    	;
    	
    	for (var iscroll=0;iscroll<hei;iscroll++){
        setTimeout('window.scrollBy(0,12)',(iscroll*3)*4+3);
    }
}	

function updateHeight() {
	
document.getElementById('strip_86845').style.height = window.innerHeight+"px";
document.getElementById('strip_86858').style.height = window.innerHeight+"px";
document.getElementById('strip_86859').style.height = window.innerHeight+"px";
document.getElementById('strip_86860').style.height = window.innerHeight+"px";
document.getElementById('strip_86862').style.height = window.innerHeight+"px";

document.getElementById('el_86858_2').style.top = window.innerHeight+50+"px";

document.getElementById('el_86860_0').style.top = window.innerHeight-550+"px";
document.getElementById('el_86860_1').style.top = window.innerHeight-500+"px";
document.getElementById('el_86860_2').style.top = window.innerHeight-450+"px";
document.getElementById('el_86860_3').style.top = window.innerHeight-400+"px";
document.getElementById('el_86860_4').style.top = window.innerHeight-350+"px";
document.getElementById('el_86860_5').style.top = window.innerHeight-300+"px";
document.getElementById('el_86860_6').style.top = window.innerHeight-600+"px";
window.scrollBy(0,-9000);
	}
</script>
</body>
</html>
